###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file downloads a private key from Amazon S3 and configures Apache to use it
#### to terminate HTTPS connections on port 443. Replace the values in the Parameters section with
#### the URL of the private key in Amazon S3, and the contents of the public certificate. To
#### download the file, your environment's instance profile must have S3ReadOnlyAccess or a similar
#### policy attached. In a single instance environment, also include 
#### https-singleinstance-securitygroup.config to allow traffic to the instance on port 443.
#### If your application is not named "application.py" or is not in the root of your source bundle,
#### replace the application name in the Apache config below.
###################################################################################################

Parameters:
  privatekey: 
    Type: String
    Description: "The path to the private key in Amazon S3"
    Default: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAwkZFM6uC6TXk0ZNsYRUnVjJlkW5FsQNOXzy7tZNTyosMhKWY
      zUV+0eYZQAH2XViwhpZWblwYnv9gBnOKFIqPJOavCMOIRZRbHLkgkvGcGUG36dl+
      qATI2SO7Bees6RHXxG71dS51G2frKvNMgrDAlYStG/i4kVGbmJ21Fw6nWwcLAP/o
      MXPMliDZccLPa7PpMzjyCjtMcv4u8/19gKA9ypI/4+1OJ2Hzh4noMiR00QQX+yjC
      31ozKmtKLCiPvxzHddIwSsW02BUFKBYh7Pbmahv0reVW2XmRbW5B4CeS0pjn6/DF
      u3BVM764kBE+AThkC9D70bqs4YcSBHlw6n1fkwIDAQABAoIBAEd6tWGCfGM0CiG2
      HU1HDDchyc8NhKTRc5eE8Aep0k2WhZ+UkjkMldHC2I19a1kDFcgfLmPijMiLa5hU
      EHzoUiygl8wgrVX0dOWHk92c+fMtA+8NsBU/1WpXRCuzByKmBv5mWPephTr1LEic
      Rg1b3S/mJg9Bnx8QqLApboSyRo8tzwu5Mh0hrr7TRRH1Js4H8vjVRKAWtk1UtQD6
      PA3iDT/M8OKPymJtM6h/ElKwXbeOayUZsMbHzrJtw747XvQKItZGgAUo5M1ekz/9
      hliS4EDEdmgifPnNS2rSN7EGKWNnnjz7Bc4r8qIw+prrAaRCU2IrF/0YOfjG3MHF
      iw/OVKECgYEA5Oq6nypazPtryrEqdN/59fMplXMTR6NqsakaZIE+D0l9+SpQVZ6b
      2zHXTMN+cy2Uwwiv8pjZCDJqOKEbyFscLMuTqx/zJ65Z76t+wdMVcLP6GPnDGyVc
      Geoksj+wPL855yJaEvqp1lLWfXkSYCMpw3faT3JQAifSZp4NT6kEglECgYEA2UJR
      Ek5OTl00ZStwZSDySEKjJtAsyBKGWmCrhNyflk4YjCnVvSGza176wpFeSVK0R5tq
      uf8iDv3GVdGudVR4HhA0BxvCILiw5V2q1Qrzh/9GCbsx5vq5SRhx6NuBz34cc249
      b3vSmcecmYlyj7GolWH8XLlxnr/wgpU096fohqMCgYEAs5i5K9DWBkYnDpIqxiFH
      AcBx2o+7C5RZS+NpEnsXjnTRQaACAPp8Ot+Ck/Y4ifKz6MQzDnj+pWCwV5eGrY1V
      sItTYomhgntWkiORQk3yX0bEq72gZfbMqIQ7oCE5ip9YtU8NLiC9CKpbH3vSf9x2
      kqXAgF4mCVrmxp2vwdTP9dECgYA8zFYrrUY0n9idxz44zrN+jUdjATbG9ogqmorl
      L2hpg4lTEBIET34KOhYqhMvB8ScKMu/3BPLfBx2NvpP3uZ+zqg0lQBtfVNAMH95C
      qEHmeQV8i6o3XUqkrfaSl3sIOd50XxFKNXiGGFo2jURF+g2XYEhjGnI1XrlLkb20
      4IQtyQKBgAWx8M7EN7j0YLVVYOlIu3UqVEECH6yr/5eGeV2ERmbfmHCk9iRu0Gw5
      tDgI2wMB4GviDWEAQiRgq5eYqddM+bfFNKIZ6VBFnJUvuKME8E6A/CoKBBK2rOWU
      yGE6RW/Gr6hqgLowSVmrKA4DyucnNZBzhYBjPjahhn4+bAi9El5c
      -----END RSA PRIVATE KEY-----

  publiccert:
    Type: String
    Description: "The public certificate"
    Default: |
      -----BEGIN CERTIFICATE-----
      MIIECjCCAvICCQCxZrNXi4A6xjANBgkqhkiG9w0BAQsFADCBxjELMAkGA1UEBhMC
      SU4xEjAQBgNVBAgMCVRlbGFuZ2FuYTESMBAGA1UEBwwJSHlkZXJhYmFkMSQwIgYD
      VQQKDBtBcmNlc2l1bSBJbmRpYSBQcml2YXRlIEx0ZC4xPjA8BgNVBAMMNWZsYXNr
      YXBwYXBwLmNpenFyZW50cmMudXMtd2VzdC0yLmVsYXN0aWNiZWFuc3RhbGsuY29t
      MSkwJwYJKoZIhvcNAQkBFhpyYWNoaXQuYmhhdGlhQGFyY2VzaXVtLmNvbTAeFw0x
      OTA4MTYxMTIxMzFaFw0yMDA4MTUxMTIxMzFaMIHGMQswCQYDVQQGEwJJTjESMBAG
      A1UECAwJVGVsYW5nYW5hMRIwEAYDVQQHDAlIeWRlcmFiYWQxJDAiBgNVBAoMG0Fy
      Y2VzaXVtIEluZGlhIFByaXZhdGUgTHRkLjE+MDwGA1UEAww1Zmxhc2thcHBhcHAu
      Y2l6cXJlbnRyYy51cy13ZXN0LTIuZWxhc3RpY2JlYW5zdGFsay5jb20xKTAnBgkq
      hkiG9w0BCQEWGnJhY2hpdC5iaGF0aWFAYXJjZXNpdW0uY29tMIIBIjANBgkqhkiG
      9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwkZFM6uC6TXk0ZNsYRUnVjJlkW5FsQNOXzy7
      tZNTyosMhKWYzUV+0eYZQAH2XViwhpZWblwYnv9gBnOKFIqPJOavCMOIRZRbHLkg
      kvGcGUG36dl+qATI2SO7Bees6RHXxG71dS51G2frKvNMgrDAlYStG/i4kVGbmJ21
      Fw6nWwcLAP/oMXPMliDZccLPa7PpMzjyCjtMcv4u8/19gKA9ypI/4+1OJ2Hzh4no
      MiR00QQX+yjC31ozKmtKLCiPvxzHddIwSsW02BUFKBYh7Pbmahv0reVW2XmRbW5B
      4CeS0pjn6/DFu3BVM764kBE+AThkC9D70bqs4YcSBHlw6n1fkwIDAQABMA0GCSqG
      SIb3DQEBCwUAA4IBAQBjcp7fALclIXjIbFqOqWIIrijHuCiuNN6rufgjBIhHqSwN
      NN1pyoKuO3ZqkdzJPzuVgxT7IU0PoPcdttylZdV2VzSKge6VDu27jl/S5FptS019
      poReMx4/vZhQ/bjoUAdEjed1aptkNF8KxNmuRlo2aIKFyFp1XbfH5l1Y4zi+tQRc
      dPygNtdgl85YBpQaywMcjJ0XFYJfpPFqQC5fsHrb66m45BbP/1D6pDthkWS4/gzC
      B0HTULVYKh+0t3cjC5Mp1m3ji6PuGSOOOVeHVnOps5115QuXhVSZRrzgGyu3xRyE
      dGKeGSrddSrgQwiCEHa+U+3a9SDLhpB8jRYRaTDx
      -----END CERTIFICATE-----

files:
  # Apache HTTPS configuration
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/setup.py  ## Application name
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app:/opt/python/run/venv/lib/python3.6/site-packages:/opt/python/run/venv/lib64/python3.6/site-packages \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>

##############################################
#### Do not modify values below this line ####
##############################################

  # Public certificate
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: { "Ref": "publiccert"}

  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    source: { "Ref" : "privatekey" }

packages:
  yum:
    mod24_ssl : []

container_commands:
  1killhttpd:
    command: "killall httpd"
    ignoreErrors: true
  2wait:
    command: "sleep 3"
